body {
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: radial-gradient(rgba(255, 255, 255, 0), black), url("imgs/header.jpg");
  height: 750px;
  border-bottom: 10px solid #323232;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header .top h1 {
  padding: 1vw 4vw;
  color: red;
}

header .top .top_r {
  position: absolute;
  right: 4vw;
  top: 2vw;
}

header .top .top_r button {
  margin: 0vw 2vw;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
}

header .top .top_r select {
  text-align: center;
  color: white;
  background-color: black;
  width: 100px;
  height: 30px;
}

header .top2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

header .top2 h1 {
  font-size: 3.5vw;
  width: 800px;
  text-align: center;
  height: 100px;
}

header .top2 h3 {
  font-size: 25px;
  height: 10px;
}

header .top2 p {
  font-size: 20px;
}

header .top2 input {
  width: 500px;
  height: 25px;
  font-size: 25px;
  padding: 20px 20px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}

header .top2 button {
  background-color: red;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  font-size: 30px;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 0px 5px 5px 0px;
}

header .top2 button:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  cursor: pointer;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  border-bottom: 10px solid #323232;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section img {
  width: 400px;
}

section div {
  width: 50vw;
}

section div h1 {
  font-size: 50px;
}

section div h3 {
  font-size: 25px;
  font-weight: lighter;
}

section:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section:nth-of-type(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section:nth-of-type(5) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

section:nth-of-type(5) h1 {
  font-size: 50px;
}

section:nth-of-type(5) h3 {
  font-size: 20px;
  font-weight: lighter;
}

section:nth-of-type(5) p {
  width: 900px;
  height: 25px;
  overflow: hidden;
  background-color: gray;
  font-size: 25px;
  padding: 20px;
  margin: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

section:nth-of-type(5) p img {
  width: 25px;
  float: right;
  -webkit-transition: all 1s;
  transition: all 1s;
}

section:nth-of-type(5) p:hover {
  height: 200px;
}

section:nth-of-type(5) p:hover img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

section:nth-of-type(5) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  width: auto;
  margin-bottom: 50px;
}

section:nth-of-type(5) input {
  width: 500px;
  height: 25px;
  font-size: 25px;
  padding: 20px 20px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}

section:nth-of-type(5) .vamos {
  background-color: red;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  font-size: 20px;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 0px 5px 5px 0px;
}

section:nth-of-type(5) .vamos:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  height: 400px;
}

footer h4 {
  color: gray;
  font-size: 20px;
  font-weight: lighter;
}

footer section {
  border: none;
}

footer div {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

footer div a {
  text-decoration: none;
  color: gray;
  margin: 10px;
}

footer select {
  background-color: gray;
}

footer p {
  color: gray;
}

@media (max-width: 1000px) {
  .top .top_r {
    margin-top: 20px;
  }
  .top2 {
    width: 90vw;
    padding: 15px;
  }
  .top2 h1 {
    font-size: 40px !important;
    width: 90vw !important;
    height: auto;
    margin: 10px 0px;
  }
  .top2 h3, .top2 p {
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    margin: 10px 0px;
  }
  .top2 div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top2 div input {
    border-radius: 10px;
    width: 70vw;
  }
  .top2 div button {
    border-radius: 10px;
    width: 200px;
    margin: 20px auto;
  }
  section {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: auto;
  }
  section div {
    width: 90vw;
  }
  section img {
    width: 80vw;
  }
  section:nth-of-type(5) {
    padding: 50px 0px;
  }
  section:nth-of-type(5) h1 {
    font-size: 10vw;
    text-align: center;
  }
  section:nth-of-type(5) p {
    width: 93vw;
    padding: 3vw;
    margin-bottom: 20px;
  }
  section:nth-of-type(5) h3 {
    width: 80vw;
    text-align: center;
  }
  section:nth-of-type(5) div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section:nth-of-type(5) div input {
    width: 60vw;
    border-radius: 5px;
  }
  section:nth-of-type(5) div .vamos {
    margin-top: 10px;
    border-radius: 5px;
  }
  footer section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  footer section div {
    width: 40vw;
  }
}
/*# sourceMappingURL=style.css.map */